- form_for(@topic) do |f|
  - if @topic.errors.any?
    %div{:id => "error_explanation"}
      %h2= pluralize(@topic.errors.count, "error")
        prohibited this topic from being saved:
      %ul
        - @topic.errors.full_messages.each do |msg|
          %li= msg
  %div{:class => "field"}
    = f.label :title
    = f.text_field :title
  %div{:class => "field"}
    = f.label :description
    = f.text_area :description, :row => 6
  %div{:class => "actions"}
    = f.submit
