%script{:type => "text/javascript", :src => "/js/jquery.pageless.min.js", :charset => "utf-8"}
%script{:type => "text/javascript", :src => "/js/real_edit_resource.js", :charset => "utf-8"}
%link{:rel => "stylesheet", :href => "/stylesheets/styles.css"}

.notice_alert
  - if notice
    %p{:id=>"notice", :class=>"span5 alert alert-success"}
      = notice
      %a{:class=>"close", "data-dismiss"=>"alert"}
        ×

= render 'form'
#real_newest_feed.span10
  = render(:partial=>"home_resources", :collection=>@home_resources)  

= will_paginate(@home_resources)
= pageless(@home_resources.total_pages, home_resources_path, 'real_newest_feed')